@elements-width:300px;

.login-form {
	padding: 15px;
	max-width: @elements-width;
	// margin: 0 auto;
}

.login-form-button {
	// max-width: @elements-width;
}

// .login-form-forgot {
// }
// .input-icon {
// }

// .input-field {
// }

// .input-elements {
// }

.button-surroundings {
	max-width: @elements-width;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
